
/*------------------------------------*\
    $LAYOUT
\*------------------------------------*/

body {
	@extend %background;  
}


.container {
	position: relative;
    width: $container-width;
    margin: 0 auto;
}

.plane {
    @extend %box-shadow; 
    background: white;
    padding: 35px 0px; 
    margin-bottom: 50px;    
}