
<div class="single plane">
	
	<div class="container" ng-repeat="single in singles">

		<div class="name">
			<h2 class="project-name">{{single.projectName}}</h2>
			<span class="divider">|</span>
			<h2 class="company-name">{{single.companyName}}</h2>
		</div>
		
		<ul class="components">
			<li class="component" ng-repeat="component in single.components" ng-switch on="component.module.type">
				
				<div ng-switch-when="carousel" class="{{component.layout}}">						
					<div class="carousel" ng-include src="'views/modules/_carousel.html'"></div>
					<div class="information" ng-include src="'views/modules/_information.html'"></div>				
				</div>

				<div ng-switch-when="presentation"  class="{{component.layout}}">
					<div class="presentation" ng-include src="'views/modules/_slideshare.html'"></div>	
					<div class="information" ng-include src="'views/modules/_information.html'"></div>		
				</div>				
				
			</li>
		</ul>								
			
	</div>
	
</div>