
/*------------------------------------*\
    $CLASSES
\*------------------------------------*/

%box-shadow {
    @include box-shadow(0px 2px 50px rgba(50, 50, 50, 0.25));
}

%background {    
    background: url($background-path);
    background-repeat: no-repeat;    
    //background-position: 50%;
    background-size: cover;
    background-attachment: fixed;
}