
$background-path: "../images/homepage_bg_1650.png";
$background-height: image-height($background-path);

$container-width: 940px;

$lighter: #dededf;
$light:   #b2b2b4;
$normal:  #89898c;
$dark:    #56565b;
$darker:  #20202a;


$blue  : #3399cc;
$green : #66cc33;
$gray1 : #f6f6f6;
$gray2 : #e5e4e4;
$gray3 : #cecece;
$gray4 : #a8a8a8;
$gray5 : #878787;
$dark1 : #414040;
$dark2 : #2b2a2a;
$clear : rgba(255,255,255,0);
$hazy  : rgba(255,255,255,.5);
$cloud : rgba(255,255,255,.8);
$white : #fff;
$black : #2f2e2e;