

.single {

	.name  {
		text-align: center;
		font-size: 30px;
		line-height: 32px;
		margin: 50px 0;

		.project-name {
			color: $dark;
			display: inline-block;
		}
		.divider {
			color: $normal;
			font-size: 32px;
			line-height: 52px;
			display: inline-block;
		}
		.company-name {
			color: $normal;
			display: inline-block;
		}
	}

	.component {
		margin: 70px 0;	

		.center {
			.carousel {
				display: block;
			}
			.information {
				display: block;
				.title, .desc, .link {
					text-align: center;
				}

			}
		}

		.left {
			@include legacy-pie-clearfix;
			.carousel {
				float: left;
			}
			.information {
				float: right;
				width: 50%;
				.title, .desc, .link {
					text-align: left;
				}
			}
		}

			
	}		

}






	

