
$arrow-width : 40px;
$slide-height : 200px;
$slide-width  : 200px;
$slide-margin : 0 10px; 
$holder-padding: 0 40px;

%arrow-base {
	position: absolute;
	top: 45%;                
	height: 100%;
	width: $arrow-width;
	background-repeat: no-repeat;
	width: 45px;
	height: 45px;
	cursor: pointer;
	z-index: 10;       
}

.carousel-wrapper {        
	text-align: center;
	position: relative;
	margin: 0 auto;
	height: 100%;

	.button {
		display: inline-block;
		margin-top: 30px;
	}
}
.carousel-viewport {
	position: relative;
	overflow: hidden;            
	
	.left-arrow {
		@extend %arrow-base;
		background: url('../images/bg/prev.png');		
	}
	.right-arrow {
		@extend %arrow-base;
		background: url('../images/bg/next.png');
		           
	}	 
}

.carousel-nav {
	text-align: center;
	margin: 10px 0 0 0;

	a {
		width: 10px;
		height: 10px;
		display: inline-block;
		background: $gray2;
		overflow: hidden;
		text-indent: -9999px;
		border-radius: 50%;

		&.active {
			background: $gray3;
		}
	}
}

//////////////////////////////////////////////////////////////////
//  Themes
//////////////////////////////////////////////////////////////////

.imac {
	background: url("../images/bg/imac.png");
	width: 920px;
	height: 705px;

	.carousel-viewport {
		position: absolute;
		top: 38px;
		left: 38px;
		width: 844px;

		.left-arrow {						
			left: 2%;
		}
		.right-arrow {						
			right: 2%;                
		}
	}               
}

.ipad {
	background: url("../images/bg/ipad.png");
	width: 922px;
	height: 710px;

	.carousel-viewport {
		position: absolute;
		top: 72px;
		left: 78px;
		width: 753px;

		.left-arrow {						
			left: 7%;
		}
		.right-arrow {						
			right: 7%;                
		}
	}               
}

.iphone {
	background: url("../images/bg/iphone.png");
	width: 384px;
	height: 808px;

	.carousel-viewport {
		position: absolute;
		top: 140px;
		left: 30px;
		width: 326px;

		.left-arrow {						
			left: 7%;
		}
		.right-arrow {						
			right: 7%;                
		}
	}               
}

.wireframes {
	width: 701px;

	.carousel-viewport {

		.left-arrow {						
			left: 3%;
		}
		.right-arrow {						
			right: 3%;                
		}
	}    

}