
<div class="carousel-wrapper {{component.module.theme}}" carousel-drct>

	<div class="carousel-viewport" id="carousel">

		<div class="left-arrow" ng-click="currentSlide = currentSlide - 1" ng-disabled="currentSlide == 0"></div>

		<ul class="holder" data-rn-carousel rn-carousel-buffered rn-carousel-index="currentSlide">
			<li class="slide" ng-repeat="item in component.module.items">				
				<img src="{{item.image}}" alt="{{item.title}}">
			</li>			
		</ul>

		<div class="right-arrow" ng-click="currentSlide = currentSlide + 1" ng-disabled="currentSlide == component.module.items.length - 1"></div>        
	</div>	

</div>

