
.manifest {             
    text-align:center;    

    &.plane {
    	margin-bottom: 170px; 
    }    

    h2 {
        color: #6e6e76;
        font-size: 30px;        
        font-size: rem(30px);
        line-height: 36px;
        line-height: rem(36px);

        span{
            color:#54545b;
        }
    }
}